  <div class='container mb-5 pb-3'>
    <div class='row'>
      <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-address-book"></i><strong>Shift-app</strong>!</h1>
    </div>
    <div class='row'>
      <h6 class="px-3 mx-auto">
        <p><i class="fas fa-address-book"></i><strong>Aboutページでは</strong>, </p>
        <p>Shift-appの使い方や機能などを説明します。</p>
        <p></p>
      </h6>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>①新規登録画面<h3>
        </div>
        <div class="col-12">
          <div class="new_registration"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>②従業員ログイン画面<h3>
        </div>
        <div class="col-12">
          <div class="employee_login"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>③管理者ログイン画面<h3>
        </div>
        <div class="col-12">
          <div class="administrator_login"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <h1 class="px-3 mx-auto">従業員側</h1>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>④マイページ画面<h3>
        </div>
        <div class="col-12">
          <div class="my_page_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

     <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑤従業員一覧画面<h3>
        </div>
        <div class="col-12">
          <div class="employee_list_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

     <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑥共有コメント画面<h3>
        </div>
        <div class="col-12">
          <div class="shared_comment_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

     <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑦確定個人シフト一覧画面<h3>
        </div>
        <div class="col-12">
          <div class="fixed_shift_list_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

     <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑧シフト登録画面<h3>
        </div>
        <div class="col-12">
          <div class="shift_registration_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑨送信シフト確認画面<h3>
        </div>
        <div class="col-12">
          <div class="send_shift_confirmation_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

     <div class="card w-75 mx-auto mt-4 shadow-lg">
      <h1 class="px-3 mx-auto">管理者側</h1>
    </div>

    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>④マイページ画面<h3>
        </div>
        <div class="col-12">
          <div class="my_page_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h4><h4>
          </div>
        </div>
      </div>
    </div>

  </div>

