  <div class='container mb-5 pb-3'>
    <div class='row'>
      <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-address-book"></i><strong>Shift-app</strong>!</h1>
    </div>
    <div class='row'>
      <h6 class="px-3 mx-auto">
        <p><i class="fas fa-address-book"></i><strong>Aboutページでは</strong>, </p>
        <p>Shift-appの使い方や機能などを説明します。</p>
        <p></p>
      </h6>
    </div>

    <div class="card  mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>①新規登録画面<h3>
        </div>
        <div class="col-12">
          <div class="new_registration"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>スタッフを新しく登録できます。ログインするには管理者の承認が必要です。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>②従業員ログイン画面<h3>
        </div>
        <div class="col-12">
          <div class="employee_login"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>登録しているスタッフ(従業員側)のログイン画面です。メールアドレスとパスワードを入力し、ログインできます。承認されていない場合や、退会されている場合はログインできません。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>③管理者ログイン画面<h3>
        </div>
        <div class="col-12">
          <div class="administrator_login"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>管理者側のログイン画面です。メールアドレスとパスワードを入力し、ログインできます。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <h1 class="px-3 mx-auto">従業員側</h1>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>①マイページ画面<h3>
        </div>
        <div class="col-12">
          <div class="my_page_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>ログインしているスタッフ情報の確認画面です。編集ボタンを押すと情報を変更できます<h5>
          </div>
        </div>
      </div>
    </div>

     <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>②従業員一覧画面<h3>
        </div>
        <div class="col-12">
          <div class="employee_list_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>登録されている従業員一覧画面です。急遽用事ができた場合などに、メッセージボタンを入力するとやりとりができます<h5>
          </div>
        </div>
      </div>
    </div>

     <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>③共有コメント画面<h3>
        </div>
        <div class="col-12">
          <div class="shared_comment_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>店舗全体への連絡や共有事項がある場合は、コメントを投稿し共有できます。<h5>
          </div>
        </div>
      </div>
    </div>

     <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>④確定シフト一覧画面<h3>
        </div>
        <div class="col-12">
          <div class="fixed_shift_list_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>今週の全体シフトが確認できます<h5>
          </div>
        </div>
      </div>
    </div>

     <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑤確定個人シフト一覧画面<h3>
        </div>
        <div class="col-12">
          <div class="fixed_private_shift_list_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>自分のシフトを確認できます。シフト表よりも視認性が高いので楽に確認できます<h5>
          </div>
        </div>
      </div>
    </div>

     <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑥シフト登録画面<h3>
        </div>
        <div class="col-12">
          <div class="shift_registration_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>シフトの希望日が入力できます。日付を押す事で簡単に登録できます。週ボタンを押すと週ごとの確認ができます<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑦送信シフト確認画面<h3>
        </div>
        <div class="col-12">
          <div class="send_shift_confirmation_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>希望シフトを確認したり、削除したりできます。削除できるのは10日後以前にしています。<h5>
          </div>
        </div>
      </div>
    </div>


     <div class="card mx-auto mt-4 shadow-lg">
      <h1 class="px-3 mx-auto">管理者側</h1>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>①承認ページ画面<h3>
        </div>
        <div class="col-12">
          <div class="admin_approval_page_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>従業員の承認画面です。承認すると対象の従業員がログインできるようになります。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>②従業員一覧画面<h3>
        </div>
        <div class="col-12">
          <div class="admin_employee_list_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>登録されている従業員を確認できます。退会処理ボタンを押すと退会画面に遷移できます。確定シフトボタンを押すとシフトの確認ができます。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>③確定シフト確認画面<h3>
        </div>
        <div class="col-12">
          <div class="admin_fixed_shift_confirmation_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>個人のシフトの確認ができます。インフルエンザなどで急遽出れなくなった時など、個人のシフトを確認したいときに使えます。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>④従業員退会画面<h3>
        </div>
        <div class="col-12">
          <div class="admin_employee_unsubscribe_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>退会するボタンを押すと退会できます。<h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑤共有コメント画面<h3>
        </div>
        <div class="col-12">
          <div class="admin_shared_comment_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>店舗全体への連絡や共有事項がある場合は、コメントを投稿し共有できます。管理者は全てのコメントを削除することができます。<h5>
          </div>
        </div>
      </div>
    </div>


    <div class="card mx-auto mt-4 shadow-lg">
      <div class="row">
        <div class="col-12 ml-2 mt-2">
          <h3>⑥シフト作成画面<h3>
        </div>
        <div class="col-12">
          <div class="admin_shift_creating_screen"></div>
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <h4>【説明】<h4>
            <h5>従業員が登録したシフト全てが反映されます。基本的には削除するだけでシフトが完成できます。空白がある場合は登録しシフト完成できます。
            最後にシフトの内容を保存ボタンを押すと従業員側にシフトが反映されます。<h5>
          </div>
        </div>
      </div>
    </div>

  </div>

