<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
     When creating a shift<br />
     It's a very useful application<br />
     Please use it shift-app.
    </p>
    <p class="main-visual-name">
      tk. chonansan
    </p>
  </div>
</div>

<div class="main pt-5 pb-3 mb-5">
  <div class="blog">
    <h1>This Service</h1>
    <p>
      <h4>「頭を悩ますシフト作成を、便利に！」</h4>
      　オーナーさんとスタッフさん双方に向けた、シフト作成時の手間をなくし、便利にシフト作成をサポートするサービスです。
    </p>
    <p>
      <h5><%= link_to 'Aboutページへ', homes_about_path %></h5>
      (Shift-appの使い方や機能などを説明します)
    </p>
      <li>
        <i class="far fa-4x fa-address-card"></i>
        <h3>Information</h3>
        <h5>「製作背景」</h5>
          <div class="row">
            <div class="col-12">
              　前職ではCVS業界(コンビニエンスストア)にて様々な役職として学生時代を含め９年間携わり、シフトの作成業務などを実施してきましたが、非常に手間で時間がかかる作業でした。<br>
              シフトの作成には月10時間〜20時間程かかる場合が多く、特に、専従者（オーナー・店長）の時間が奪われる事が問題でありました。
              シフトを作成している時間をスタッフさんの育成、売場改善などの時間にあてる事ができれば、
              もっとより良い店舗に近づくていくのにと感じていました。<br>
              スタッフ側としては、シフトを提出する為にだけに店舗に出向かなくてはならず、また、予定が分かった瞬間に提出する事ができないことで提出が遅れてしまい、店舗に迷惑をかけてしまう事もあった。<br>
              そんな時に、
              「携帯で簡単に打ち込むだけで提出」
              「シフト作成の手間を最小限にする事」
              が出来たら双方の時間のムダを改善ができると感じた事が制作の背景です。<br><br>
            </div>
           </div>


        <%= link_to '登録する', new_employee_registration_path, class: "btn btn-outline-dark" %><br><br>
      </li>
      <li>
        <i class="fas fa-4x fas fa-users"></i>
        <i class="fas fa-calendar-alt"></i>
        <h3>Employee</h3>
        <div class="row">
          <div class="col-12">
            <h5>【従業員側】→スキマ時間に記載し、好きな時に提出できる</h5>
            今まではシフトに入っていない週でも、提出と確認の為に必ず店舗に行かなければならず、また、用事などがあり提出が遅れたり、好きな時に提出できないなどの課題があった。携帯を使って、大学に行っている時や、家事の合間などのスキマ時間に提出できる<br><br>
            <h5>改善できること</h5>
            ①携帯で入力し提出が出来る様にする事によって、移動時間の無駄をなくす<br>
            ②店舗に出向いて、翌週のシフトを確認しなくて良い<br><br>

          </div>
        </div>
      </li>
      <li>
         <i class="fas fa-4x fas fa-user"></i>
        <i class="fas fa-calendar-alt"></i>
        <h3>Admin</h3>
        <div class="row">
          <div class="col-12">
            <h5>【店舗専従者側】→シフト作成の負担軽減</h5>
            今までは従業員の方が手書きのメモで描いてきたものをを纏め、シフトを作成し、管理、運用していく労力が非常に負担であった 。デジタルの力で自動化する。<br><br>
            <h5>改善できること</h5>
             ①専従者がメモを一つ一つ確認して、転記する手間をなくす<br>
             ②メモを探したりなくす心配をしなくて良い<br>
             ③スタッフと専従者同士のシフトのやりとりを一元化する<br><br>
          </div>
        </div>
      </li>
      <li>
        <i class="far fa-4x fa-comments"></i>
        <h3>Communication</h3>
        <div class="row">
          <div class="col-12">
            全員への共有事項や、メッセージのやりとりができます。
          </div>
        </div>
      </li>
    <p><%= link_to 'TOPへ', root_path %>|<%= link_to 'Aboutへ', homes_about_path %></p>
  </div>

  <div class="sidebar">
     <div class="row">
       <div class="col-12">
          <h3>PFsample</h3>
          <div class="sidebar-1"></div>
          <div class="sidebar-2"></div>
          <div class="sidebar-3"></div>
          <div class="sidebar-4"></div>
          <div class="sidebar-5"></div>
          <div class="sidebar-6"></div>
          <div class="sidebar-7"></div>
          <div class="sidebar-8"></div>
          <div class="sidebar-9"></div>

       </div>
    </div>
  </div>

</div>
