<div style="margin-top: 30px; margin-bottom:100px; ">
  <div class="container">
    <div class='row mt-2'>
      <div class= "px-12 mx-auto">
        <h2>本当にシフトを登録しますか？</h2>
        <p>登録すると、</p>
        <p>シフトが従業員側に反映されます</p>
        <p>登録する場合は、『登録する』をクリックしてください。</p>
        <%= link_to '登録しない', admin_shifts_path, class:"btn btn-primary" %>
        <%= form_with url: admin_shifts_update_all_path, method: :patch, local: true do |f| %>
          <%= f.hidden_field :shift_ids, :value => @shift_ids %>
          <%= f.submit "登録する", class: " btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
