/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 */
 // for Bootstrap4
 @import "bootstrap";
 @import "fullcalendar/main";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 li{
  list-style:none;
   margin:0px 10px;
}

.main {
  width: 100%; /* 横幅いっぱい */
  height: 1600px; /* 高さ1400px（多めに設定） */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */

}


.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 450px; /* 高さ300px */
  background-image: url("../shift_app.png");
  background-size: cover;
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.main-visual-content {
  width: 40%; /* 横幅40% */
  height: 450px; /* 親の高さに揃える */
  background-color: rgba( 0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 170px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
}

.main-visual-name {
  padding-top: 30px; /* 上側の外側の余白 */
  color: #fff; /* 文字色を白に変更 */
}

.blog {
  width: 900px; /* 横幅600px */
  height: 1500px; /* 高さ600px */
}

.sidebar {
  width: 400px; /* 横幅240px */
  height: 1500px; /* 高さ600px */
  text-align: center; /* 文字を中央揃えにする */
}

.new_registration {
  width: 100%;
  height: 480px;
  background-image: url("../new_registration.png");
  background-size: cover;
}

.employee_login {
  width: 100%;
  height: 480px;
  background-image: url("../employee_login.png");
  background-size: cover;
}

.administrator_login {
  width: 100%;
  height: 480px;
  background-image: url("../administrator_login.png");
  background-size: cover;
}


.sidebar-1 {
  width: 100%; /* 横幅いっぱい */
  height: 220px; /* 高さ300px */
  background-image: url("../sidebar-1.png");
  background-size: cover;
  border-radius: 30px;
  padding-top: 170px;
}

.sidebar-2 {
  width: 100%; /* 横幅いっぱい */
  height: 220px; /* 高さ300px */
  background-image: url("../sidebar-2.png");
  background-size: cover;
  border-radius: 30px;
  margin-top: 30px;
}

.sidebar-3 {
  width: 100%; /* 横幅いっぱい */
  height: 220px; /* 高さ300px */
  background-image: url("../sidebar-3.png");
  background-size: cover;
  border-radius: 30px;
  margin-top: 30px;
}

.sidebar-4 {
  width: 100%; /* 横幅いっぱい */
  height: 220px; /* 高さ300px */
  background-image: url("../sidebar-4.png");
  background-size: cover;
  border-radius: 30px;
  margin-top: 30px;
}

.sidebar-5 {
  width: 100%; /* 横幅いっぱい */
  height: 220px; /* 高さ300px */
  background-image: url("../sidebar-5.png");
  background-size: cover;
  border-radius: 30px;
  margin-top: 30px;
}

.sidebar-6 {
  width: 100%; /* 横幅いっぱい */
  height: 220px; /* 高さ300px */
  background-image: url("../sidebar-6.png");
  background-size: cover;
  border-radius: 30px;
  margin-top: 30px;
}

@media screen and (max-width:768px) {

.main {
  width: 95%; /* 横幅いっぱい */
  height: 100%; /* 高さ1400px（多めに設定） */
  display: block; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto;

}

.blog {
  width: 100%; /* 横幅600px */
  height: 100%; /* 高さ600px */
}

.sidebar {
  width: 80%; /* 横幅240px */
  height: 100%; /* 高さ600px */
  text-align: center; /* 文字を中央揃えにする */
  margin: 0 auto;
}

  .sidebar-7 {
    width: 100%; /* 横幅いっぱい */
    height: 220px; /* 高さ300px */
    background-image: url("../sidebar-7.png");
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
  }

  .sidebar-8 {
    width: 100%; /* 横幅いっぱい */
    height: 220px; /* 高さ300px */
    background-image: url("../sidebar-8.png");
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
  }

  .sidebar-9 {
    width: 100%; /* 横幅いっぱい */
    height: 220px; /* 高さ300px */
    background-image: url("../sidebar-9.png");
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
  }

}

@media screen and (max-width:425px) {

.main {
  width: 95%; /* 横幅いっぱい */
  height: 100%; /* 高さ1400px（多めに設定） */
  display: block; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto;

}

.blog {
  width: 100%; /* 横幅600px */
  height: 100%; /* 高さ600px */
}

.sidebar {
  width: 80%; /* 横幅240px */
  height: 100%; /* 高さ600px */
  text-align: center; /* 文字を中央揃えにする */
  margin: 0 auto;
}

  .sidebar-7 {
    width: 100%; /* 横幅いっぱい */
    height: 220px; /* 高さ300px */
    background-image: url("../sidebar-7.png");
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
  }

  .sidebar-8 {
    width: 100%; /* 横幅いっぱい */
    height: 220px; /* 高さ300px */
    background-image: url("../sidebar-8.png");
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
  }

  .sidebar-9 {
    width: 100%; /* 横幅いっぱい */
    height: 220px; /* 高さ300px */
    background-image: url("../sidebar-9.png");
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
  }

}




.footer-text {
  color: #fff;
  text-align: center;
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}